{% extends "SWAdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Editer une catégorie{% endblock %}

{% block spread_admin_content %}

	<section class="content-header">
		<h1 class="title">Editer une catégorie</h1>
      	<ol class="breadcrumb">
          <li><a href="{{path('sw_admin_dashboard')}}"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
        	<li><a href="{{path('sw_admin_category')}}"> Toutes les catégories</a></li>
        	<li class="active">Editer une catégorie</li>
      	</ol>
    </section>
	<section class="content">
	   
     <div class="col-md-8">
       <div class="box box-warning">
                <div class="box-header">
                  <h3 class="box-title">Editer une catégorie</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                {{ form_errors(form) }}
                <form role="form" action="{{ path('sw_admin_category_edit', { 'id' : id }) }}" method="post">
                  <div class="box-body">
                    <div class="form-group">
                      {{ form_label(form.name) }}
                      {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                      {{ form_label(form.detail) }}
                      {{ form_widget(form.detail, {'attr': {'class': 'form-control'}}) }}
                    </div>
                  </div><!-- /.box-body -->
                  {{ form_rest(form) }}

                  <div class="box-footer">
                    <button type="submit" class="btn btn-warning">Modifier</button>
                  </div>
                </form>
              </div>
     </div>
	 	
	</section>
{% endblock spread_admin_content %}
{% block javascripts %}
	{% javascripts 'plugins/datatables/jquery.dataTables.js''plugins/datatables/dataTables.bootstrap.js''plugins/slimScroll/jquery.slimscroll.min.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
{% endblock %}